@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.patient-info {
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.consult-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #666;
}

textarea, input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%;
}

/* Novo layout com os campos pequenos em linha */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    resize: none;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #6c757d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a6268;
}

.button-clear {
    background-color: #dc3545;
}

.button-clear:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    h2 {
        font-size: 20px;
    }

    .info p, label, textarea, input {
        font-size: 14px;
    }

    .form-row {
        flex-direction: column;
        gap: 10px;
    }
}
